# Set up paths and environment for cross compiling for openwrt
 export STAGING_DIR=
 export TOOLCHAIN_DIR=$STAGING_DIR
# export LDCFLAGS=$TOOLCHAIN_DIR/usr/lib
# export LD_LIBRARY_PATH=$TOOLCHAIN_DIR/usr/lib export
# export PATH=$TOOLCHAIN_DIR/bin:$PATH
# export CCC=cc
# export RESULT_MODULE=bridge_pc